<!-- We have to display the form. We can do that with (for example) form.as_p .
The line above needs to be wrapped with an HTML form tag: <form method="POST">...</form>.
We need a Save button. We do that with an HTML button: <button type="submit">Save</button>.
And finally, just after the opening <form ...> tag we need to add % csrf_token %. This is very important, since it makes your forms secure! If you forget about this bit, Django will complain when you try to save the form:  -->

{% extends 'blog/base.html' %}

{% block content %}
    <h2>New post</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %} 