<!-- <h1>A heading</h1> for your most important heading
<h2>A sub-heading</h2> for a heading at the next level
<h3>A sub-sub-heading</h3> …and so on, up to <h6>
<p>A paragraph of text</p>
<em>text</em> emphasizes your text
<strong>text</strong> strongly emphasizes your text
<br> goes to another line (you can't put anything inside br and there's no closing tag)
<a href="https://djangogirls.org">link</a> creates a link
<ul><li>first item</li><li>second item</li></ul> makes a list, just like this one!
<div></div> defines a section of the page -->

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
      <!-- Everything you put between for loop will be repeated for each object in the list.  -->
    {% for post in posts %}
        <div>
            <!-- Django understands it as a list of objects. --->
            <!-- we can display lists? Yes, with for loops! -->
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <!--({{ post.title }} or {{ post.text }})? We are accessing data in each of the fields defined in our Post model. Also, the |linebreaksbr is piping the posts' text through a filter to convert line-breaks into paragraphs -->
    </body>
</html>